name: white-label-app

services:
  api: 
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - mern-app
    ports:
      - 3000:3000
  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file: ./frontend/.env
    volumes: 
      - ./frontend:/app
      - /app/node_modules
    networks:
      - mern-app
    ports:
      - 8081:8081
    depends_on:
      - api

networks: 
  mern-app: 
    driver: bridge